{% extends 'website/base.html' %}
{% load static %}

{% block title %}Curso de la semana{% endblock %}
{% block content %}
     </section>
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section class="box">
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="{% static 'website/images/pic06.jpg' %}" alt="" /></a>
												<header>
													<h3>Programa tu casa con Rasberry PI</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Quiero saber mas</a></li>
													</ul>
												</footer>
											</section>
										</div>
									</section>
									<section class="box">
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="#" class="image featured"><img src="{% static 'website/images/pic05.jpg' %}" alt="" /></a>
												<header>
													<h3>Mongo DB Avanzado</h3>
												</header>
												<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button alt">Quiero saber mas</a></li>
													</ul>
												</footer>
											</section>
										</div>
									</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<article class="box post">
										<a href="#" class="image featured"><img src="{% static 'website/images/pic01.jpg' %}" alt="" /></a>
										<header>
											<h2>Curso completo de Machine Learning: Data Science en Python </h2>
											<p>Lo que aprenderás</p>
										</header>
										<p>Ser todo un master Jedi del Machine Learning con Python</p>
										<p>Llevar a cabo predicciones precisas</p>
										<p>Elaborar modelos robustos de Machine Learning</p>
										<p>	Utilizar las técnicas de Machine Learning para uso personal y para asesorar empresas</p>
										<p>Tener una buena intuición de la mayoría de modelos de Machine Learning</p>
										<p>Hacer análisis muy potentes y precisos</p>
										<p>	Dar valor añadido a tu propia empresa o negocio</p>
										<p>Conocer qué modelo de Machine Learning se ajusta mejor a cada tipo de problema</p>
										<p>Construir modelos diversos de Machine Learning y combinarlos para resolver cualquier problema que uno se plante</p>

										<section>
											<header>
												<h3>Descripción</h3>
											</header>
											<p>¿Te suenan las palabras Machine Learning o Data Scientist? ¿Te pica la curiosidad de para qué sirven estas técnicas o por qué empresas de todo el mundo pagan un sueldo de 120.000 hasta 200.000$ al año a un científico de datos? </p>

											<p>Pues este curso está pensado y diseñado por todo un profesional del mundo del Data Science como es Juan Gabriel Gomila, de modo que os va a compartir todo su conocimiento y ayudaros a entender la teoría tan compleja sobre las matemáticas que tiene detrás, los algoritmos y librerías de programación con Python para convertiros en todo unos expertos a pesar de que no tengáis experiencia previa. </p>

											<p>Veremos paso a paso como empezar a trabajar con conceptos y algoritmos del mundo del Machine Learning. Con cada nueva clase y sección que completes tendrás unas nuevas habilidades que te ayudarán a entender este mundo tan completo y lucrativo que puede ser esta rama del Data Science.</p>

											<p>También decirte que este curso es muy divertido, en la línea de Juan Gabriel Gomila y que aprenderás y te divertirás mientras vas aprendiendo acerca de técnicas de Machine Learning con Python. En particular, los temas que trabajaremos serán los siguientes:</p>

	    								<p>Parte 1 - Instalación de Python y paquetes necesarios para data science, machine learning y visualización de los datos</p>
	    								<p>Parte 2 - Evolución histórica del análisis predictivo y el machine learning</p>
	    								<p>Parte 3 - Pre procesado y limpieza de los datos </p>
	    								<p>Parte 4 - Manejo de datos y data wrangling, operaciones con datasets y distribuciones de probabilidad más famosas</p>
	    								<p>Parte 5 - Repaso de estadística básica, intervalos de confianza, contrastes de hipótesis, correlación,...</p>
	   									<p> Parte 6 - Regression lineal simple, regresión lineal múltiple y regresión polinomial, variables categóricas y tratamiento de outliers.</p>
	    								<p>Parte 7 - Clasificación con regresión logística, estimación con máxima verosimititud, validación cruzada, K-fold cross validation, curvas ROC </p>
	    								<p>Parte 8 - Clustering, K-means, K-medoides, dendrogramas y clustering jerárquico, técnica del codo y análisis de la silueta</p>
	    								<p>Parte 9 - Clasificación con árboles, bosques aleatorios, técnicas de poda, entropía, maximización de la información</p>
	    								<p>Parte 10 - Support Vector Machines para problemas de clasificación y regresión, kernels no lineales, reconocimiento facial (cómo funciona CSI)</p>
	    								<p>Parte 11 - Los K vecinos más cercanos, decisión por mayoría, programación de algoritmos de Machine Learning vs librerías de Python</p>
	    								<p>Parte 12 - Análisis de componentes principales, reducción de la dimensión, LDA</p>
	    								<p>Parte 13 - Deep learning, Reinforcement Learning, Redes neuronales artificiales y convolucionales y Tensor Flow</p>

											<p>Además, en el curso encontrarás ejercicios, datasets para practicar basados en ejemplos de la vida real, de modo que no solo aprenderás la teoría con los vídeos, si no también a practicar para construir tus propios modelos de Machine Learning. Y como no olvidar que tendrás un github con todo el código fuente en Python para descargar y utilizar en todos tus proyectos. Así que no esperes más y apúntate al curso de Machine Learning más completo y útil del mercado español!</p>
										</section>
									</article>

							</div>
						</div>
					</div>
				</section>
{% endblock %}
