
{% extends 'website/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}

    <div class="p-5 m-5">
        {% for post in get_posts.all %}
            <section class="page-section cta">
              <div class="container">
                <div class="row">
                  <div class="col-xl-9 mx-auto">
                    <div class="cta-innerv text-center rounded">
                      <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">{{post.published}}</span><br>
                        <span class="section-heading-lower">{{post.title}}</span>
                      </h2>
                      <p class="mb-0">
                        <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt="">
                      </p>
                      <p class="mb-0 mbt">
                        {{post.content|linebreaks}}
                      </p>
                      <p class="mb-0-mbt">
                        <span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em> en
                          <em>
                            {% for category in post.categories.all %}
                              <a href="{% url 'category' category.id %}" class="link">
                                {{category.name}}
                              </a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                          </em>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            <hr>
              {% for comment in post.comments.all %}
                  <div class="comment">
                      <div class="date">{{ comment.created_date }}</div>
                      <strong>{{ comment.author }}</strong>
                      <p>{{ comment.text|linebreaks }}</p>
                  </div>
              {% empty %}
                  <p>No comments here yet :(</p>
              {% endfor %}
          {% endfor %}

          {% if  posts.has_other_pages %}

          <div class="row justify-content-center text-secondary mt-4 mb-4">
            <nav>
              <ul class="pagination">
                {% if posts.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a</li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                  {% if posts.number == i %}
                    <li class="page-item active"><span class="page-link" href="?page={{i}}">{{i}}<span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
          {% endif %}
    </div>
{% endblock %}

          